/* 
Paletas de cores a serem usadas
Amarelo #eec10c
Branco #ffffff
Cinca escuro #1e1e1e
Cinza Médio #454545
Cinza Claro #898989

Fontes -
font-family: 'Questrial', sans-serif; (Para texto padrões)
font-family: 'Wix Madefor Display', sans-serif; (Para títulos e textos)
*/

/* Configurações Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif;
}

/* Alterações Iguais */
.container {
    margin: auto;
    max-width: 1000px;
    height: 100%;
}

h1 {
    color: #FFFF;
    font-size: 50px;
    line-height: 45px;
    text-shadow: 1px 1px 1px #1a1a1a;
}

p1 {
    color: #FFFF;
    display: block;
    font-size: 20px;
}

.bar-line1 {
    background-color: #eec10c;
    height: 5px;
    width: 150px;
}

.bar-line2 {
    background-color: #eec10c;
    height: 5px;
    width: 75px;
}

.button a {
    background-color: #eec10c;
    border-radius: 2px;
    color: #1a1a1a;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.button a:hover {
    background-color: rgba(238, 193, 12, 0.85);
}

/* Parte do Header */

header {
    background-color: #FFFF;
    height: 70px;
}

.header-elements {
    display: flex;
    height: 100%;
}

.header-elements-left {
    align-items: center;
    display: flex;
    width: 120px;
}

.header-elements-left .logo-area {
    background-color: black;
    display: flex;
    height: 60px;
    margin-left: 20px;
    width: 120px;
}

.header-elements-right {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: flex-end;
}

.header-elements-right .header-elements-right-menu {
    height: 100%;
    margin-right: 20px;
}

.header-elements-right-menu nav ul {
    background-color: #1a1a1a;
    display: flex;
    height: 70px;
    list-style: none;
}

.header-elements-right-menu nav ul li a {
    align-items: center;
    color: #FFFF;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    padding-inline: 40px;
    text-decoration: none;
}

.header-elements-right-menu nav ul li a:hover {
    background-color: #eec10c;
}



/* Banner - section */

.section-banner {
    background-image: url("../../img/banner-section.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
}

.template-banner {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
}

.section-banner-elements {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 150px;
}

.section-banner-elements p1 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.section-banner-elements .button {
    margin-top: 50px;
}


/* Section - services */

.section-container {
    margin: auto;
    max-width: 1200px;
}

.title-section {
    color: #1a1a1a;
    display: flex;
    margin-top: 50px;
    font-size: 30px;
    justify-content: center;
    text-shadow: none;
}




/*Section - individual para cada service */

/* Left - Para imagens a esquerda */

.section-service-elements {
    display: flex;
}

.section-elements-left,
.section-elements-right {
    flex: 1;
}

.section-elements-left {
    padding-left: 20px;
    padding-top: 50px;
    margin-bottom: 80px;
}

.section-service-left h1 {
    color: #1a1a1a;
    font-size: 20px;
    text-shadow: none;
}

.section-service-image {
    background-color: #1a1a1a;
    height: 200px;
    max-width: 450px;
}

.section-elements-right {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 100px;
}

.section-elements-right .button {
    margin-top: 40px;
}

/* Right - Para imagens a direita*/

.section-service-right .section-elements-right {
    padding-left: 20px;
    padding-top: 50px;
}

.section-service-right h1 {
    color: #1a1a1a;
    font-size: 20px;
    text-shadow: none;
}

.section-service-right .section-service-image {
    background-color: #1a1a1a;
    height: 200px;
    max-width: 450px;
}

.section-service-right .section-elements-left {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 100px;
}

.section-service-right .section-elements-left .button {
    margin-top: 40px;
}



/*Section - about us */

.section-about-us {
    background-color: #1a1a1a;
}

.section-about-us-elements {
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
}

.section-about-us-left,
.section-about-us-right {
    flex: 1;
}

.section-about-us-left {
    padding-left: 20px;
}

.section-about-us-left h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.section-about-us-left p1 {
    font-size: 18px;
}

.section-about-us-right {
    padding-right: 20px;
}

.section-about-us-right-image {
    max-width: 600px;
    height: 300px;
    background-color: #1a1a1a;
}



/* Section - contact */

.section-contact {
    background-color: #eec10c;
    border-bottom: 1px solid #FFFF;
}

.section-contact-elements {
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.section-contact-elements .button {
    margin-top: 80px;
}

.section-contact-elements .button a {
    background-color: #1a1a1a;
    color: #FFFF;
}



/* Section - Footer */

footer {
    background-color: #1a1a1a;
}


.section-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.section-footer-copyright,
.section-footer-midia {
    flex: 1;
}

.section-footer-copyright {
    padding-left: 20px;
}

.section-footer-copyright p3 {
    font-size: 15px;
    color: #FFFF;
}

.section-footer-midia {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.midia-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFF;
    margin-left: 20px;
}